{% extends 'base.html.twig' %}

{% block title %}Résultat de recherche
{% endblock %}

{% block body %}
{% if app.request.method == 'POST' %}
	<div>
		{% if post| length == 0 %}
			<h4>Aucun résulat pour votre recherche.</h4>
		{% else %}
			<div style="margin: 10px 150px">
				<h3 class="mt-3" style="color:#2E9C56;">
					<strong>
						Vos résulats de recherche :</strong>
				</h3>
				{% for post in post %}
					<section>
						<div class="card border-secondary my-3 text-black search_box">
							<h1>

								{{ post.name }}</h1>
							<div>
								<img class={{ post.name }} src="{{uploaded_asset(post.imagePath)}}" alt="chaise" height="300">

							</div>
							<div
								class="d-block">


								{# <div class="card-header"> #}


								<h6 class="text-black">

									<strong>
										Description :</strong>

									{{ post.description }}</h6>


								<p>
									<strong>
										Objet à récupérer :
									</strong>

								</p>
								<p>{{post.adress}}
								</p>

								<p>

									{{ post.postcode }}

									{{ post.ville }}
								</p>

								<p>

									{{ post.pays }}


								</p>
								<p>
									<strong>
										Détails:
									</strong>

								</p>


								<a href={{ path('post_show', {'id':post.id} )}} class="navbar-brand">{{post.name}}</a>


							</div>

						</div>
						{# </div> #}
					</div>
				</section>
			{% endfor %}
		</div>

	{% endif %}
	{{ render(controller('App\\Controller\\SearchController::searchBar')) }}</div>{% endif %}{% endblock %}
