{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block body %}


	{# CARTE #}
	<div class="row">
		<div class="col-md-6" id="maCarte" style="height:450px; margin-left: 300px"></div>
		{# <div class="col-md-6" id="maCarte" style="height:450px; width: 350px; margin-left: 300px"></div> #}

	</div>


	{# BARRE DE RECHERCHE #}

	<div class="container">
		{% include "search/_searchBar.html.twig" %}

		<h1>Post index</h1>
		<p>
			<i class="fa fa-magic magic-wand"></i>Il y a actuellement

			<strong>
				{{posts|length}}
				posts</strong>


		</p>

		{# AFFICHAGE DES POSTS #}

		<table class="table">

			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>

					<th>Description</th>
					<th>Adress</th>
					<th>Ville</th>
					<th>Pays</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>
							<img class="{{ post.name }}" src="{{ uploaded_asset(post.imagePath) }}" height="300">
						</td>
						<td>{{ post.name }}</td>

						<td>{{ post.description }}</td>
						<td>{{ post.adress }}</td>
						<td>{{ post.ville }}</td>
						<td>{{ post.pays }}</td>
						<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('post_show', {'id': post.id}) }}">show</a>
							<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('post_new') }}">Create new</a>

	</div>

{% endblock %}
{# AFFICHAGE CARTE #}
{% block customjs %}
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
	<script>

		var villes = {
"Paris": {
"lat": 48.852969,
"lon": 2.349903
},
"Brest": {
"lat": 48.383,
"lon": -4.500
},
"Quimper": {
"lat": 48.000,
"lon": -4.100
},
"Bayonne": {
"lat": 43.500,
"lon": -1.467
},
"Bordeaux": {
"lat": 44.840955,
"lon": -0.575198
}
};
var tableauMarqueurs = [];

// On initialise la carte
var carte = L.map('maCarte').setView([
48.852969, 2.349903
], 13);

// On charge les "tuiles"
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 1,
maxZoom: 20
}).addTo(carte);

var marqueurs = L.markerClusterGroup();

// On personnalise le marqueur
var icone = L.icon({
iconUrl: "https://cdn-icons.flaticon.com/png/512/2794/premium/2794650.png?token=exp=1644581071~hmac=8c966854ef84bae0b22c4db759f2c058",


iconSize: [
50, 50
],
iconAnchor: [
25, 50
],
popupAnchor: [0, -50]
})
// On parcourt les différentes villes
for (ville in villes) { // On crée le marqueur et on lui attribue une popup
var marqueur = L.marker([
villes[ville].lat,
villes[ville].lon
], {icon: icone}); // .addTo(carte); Inutile lors de l'utilisation des clusters
marqueur.bindPopup("<p>" + ville + "</p>");
marqueurs.addLayer(marqueur);
// On ajoute le marqueur au groupe

// On ajoute le marqueur au tableau
tableauMarqueurs.push(marqueur);
}
// On regroupe les marqueurs dans un groupe Leaflet
var groupe = new L.featureGroup(tableauMarqueurs);

// On adapte le zoom au groupe
carte.fitBounds(groupe.getBounds().pad(0.5));

carte.addLayer(marqueurs);
	</script>

{% endblock %}
