{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block body %}
	<div class="jumbotron-img jumbotron jumbotron-fluid">{# <img
														src="{{asset('images/merch-husey-sDDOPRxh9nE-unsplash-cropped-filtered.png')}}" alt="chaise" height="200"> #}


		{# <img src="{{asset('images/il_794xN.3332449763_2alt.jpg')}}" alt="chaise" width="350" height="350"> #}

	</div>

	<div class="container">

		<h1>Post index</h1>
		<p>
			<i class="fa fa-magic magic-wand"></i>Il y a actuellement

			<strong>
				{{posts|length}}
				posts</strong>


		</p>


		<table class="table">

			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Adress</th>
					<th>Adress2</th>
					<th>Postcode</th>
					<th>Ville</th>
					<th>Pays</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>{{ post.id }}</td>
						<td>{{ post.name }}</td>
						<td>{{ post.description }}</td>
						<td>{{ post.adress }}</td>
						<td>{{ post.adress2 }}</td>
						<td>{{ post.postcode }}</td>
						<td>{{ post.ville }}</td>
						<td>{{ post.pays }}</td>
						<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('post_show', {'id': post.id}) }}">show</a>
							<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('post_new') }}">Create new</a>

	</div>
{% endblock %}
