{% extends 'base.html.twig' %}

{% block title %}Liste des posts
{% endblock %}

{% block body %}


	{# CARTE #}
	<div class="row">{# <div class="col-md-6" id="maCarte" style="height:450px; margin-left: 300px"></div> #}
		{# <div class="col-md-6" id="maCarte" style="height:450px; width: 350px; margin-left: 300px"></div> #}

	</div>


	{# BARRE DE RECHERCHE #}

	<div class="container">
		{% include "search/_searchBar.html.twig" %}

		<h1 class="post_list">

			<strong>
				Liste des posts</strong>
		</h1>
		<div style="display:flex;">
			<i class="fa fa-magic magic-wand"></i>
			<p class="post_list">

				Il y a actuellement
				<strong>
					{{posts|length}}
					posts</strong>
			</p>
		</div>
		{# AFFICHAGE DES POSTS #}

		<section>
			{% for post in posts %}
				<div class="container2">
					<div class="card" style="width: 18rem; margin-bottom:30px;">
						<img id="img_post" src="{{ uploaded_asset(post.imagePath) }}" class="card-img-top" alt="{{ post.name }} height=" 300" style=" border: solid 1px transparent; border-radius: 5px 20px 5px;"">


						<div class="card-body">
							<a class="navbar-brand" href={{ path('post_show', {'id': post.id} ) }}>
								<h5 class="card-title">
									<strong>
										{{ post.name }}</strong>
								</h5>

							</a>


							<p class="card-text">{{ post.description }}</p>

						</div>


						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ post.adress }}</li>

							<li class="list-group-item">{{ post.ville }}</li>

							<li class="list-group-item">{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</li>

						</ul>


						<div class="card-body">
							<a class="navbar-brand" href={{ path('post_show', {'id': post.id} ) }}>

								<p class="pl-2 d-inline font-weight-bold;">
									<strong>Détails</strong>

								</p>
							</a>

							<a class="navbar-brand" href={{ path('post_edit', {'id': post.id} ) }}>


								<p class="pl-2 d-inline font-weight-bold;">
									<strong>Modifier</strong>


								</p>
							</a>


						</div>
					</div>


				</div>


			{% else %}

				<p colspan="11">no records found</p>


			{% endfor %}
		</section>

		{% if app.user %}

			<a class="navbar-brand" href={{path('post_new') }}>
				<p class="pl-2 d-inline font-weight-bold;">
					<strong>Créer un post</strong>
				</p>
			</a>
		{% endif %}


	</div>
{% endblock %}{# AFFICHAGE CARTE #}{% block customjs %}
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
	<script>
		var villes = {
"Paris": {
"lat": 48.852969,
"lon": 2.349903
},
"Brest": {
"lat": 48.383,
"lon": -4.500
},
"Quimper": {
"lat": 48.000,
"lon": -4.100
},
"Bayonne": {
"lat": 43.500,
"lon": -1.467
},
"Bordeaux": {
"lat": 44.840955,
"lon": -0.575198
}
};
var tableauMarqueurs = [];

// On initialise la carte
var carte = L.map('maCarte').setView([
48.852969, 2.349903
], 13);

// On charge les "tuiles"
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 1,
maxZoom: 20
}).addTo(carte);

var marqueurs = L.markerClusterGroup();

// On personnalise le marqueur
var icone = L.icon({
iconUrl: "https://cdn-icons.flaticon.com/png/512/2794/premium/2794650.png?token=exp=1644581071~hmac=8c966854ef84bae0b22c4db759f2c058",


iconSize: [
50, 50
],
iconAnchor: [
25, 50
],
popupAnchor: [0, -50]
})
// On parcourt les différentes villes
for (ville in villes) { // On crée le marqueur et on lui attribue une popup
var marqueur = L.marker([
villes[ville].lat,
villes[ville].lon
], {icon: icone}); // .addTo(carte); Inutile lors de l'utilisation des clusters
marqueur.bindPopup("<p>" + ville + "</p>");
marqueurs.addLayer(marqueur);
// On ajoute le marqueur au groupe

// On ajoute le marqueur au tableau
tableauMarqueurs.push(marqueur);
}
// On regroupe les marqueurs dans un groupe Leaflet
var groupe = new L.featureGroup(tableauMarqueurs);

// On adapte le zoom au groupe
carte.fitBounds(groupe.getBounds().pad(0.5));

carte.addLayer(marqueurs);
	</script>
{% endblock %}
