{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block body %}

	{# RAJOUTER DES IMAGES #}
	<div class="jumbotron-img jumbotron jumbotron-fluid"></div>

	<div class="container">
		{% include "search/_searchBar.html.twig" %}

		<h1>Post index</h1>
		<p>
			<i class="fa fa-magic magic-wand"></i>Il y a actuellement

			<strong>
				{{posts|length}}
				posts</strong>


		</p>


		<table class="table">

			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Image</th>
					<th>Description</th>
					<th>Adress</th>
					<th>Ville</th>
					<th>Pays</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>{{ post.id }}</td>
						<td>{{ post.name }}</td>
						<td>
							<img class="{{ post.name }}" src="{{ uploaded_asset(post.imagePath) }}" height="300">
						</td>
						<td>{{ post.description }}</td>
						<td>{{ post.adress }}</td>
						<td>{{ post.ville }}</td>
						<td>{{ post.pays }}</td>
						<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('post_show', {'id': post.id}) }}">show</a>
							<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('post_new') }}">Create new</a>

	</div>
{% endblock %}
