{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}

<div class="container1">
	<table class="table">
		<h1 style="color:#F55B2E">

			<strong>
				{{ post.name }}</strong>
		</h1>


		<tbody>

			<tr>
				<th>Name</th>
				<td>{{ post.name }}</td>

			</tr>
			<tr style="text-center">


				<img id="img_post" src="{{uploaded_asset(post.imagePath)}}" alt="{{ post.name }} " height="300">


			</tr>

			<tr>
				<th>Description</th>
				<td>{{ post.description }}</td>
			</tr>
			{% if app.user %}

				<tr>
					<th>Adress</th>
					<td>{{ post.adress }}</td>
				</tr>
				<tr>
					<th>Adress2</th>
					<td>{{ post.adress2 }}</td>
				</tr>
				<tr>
					<th>Postcode</th>
					<td>{{ post.postcode }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ post.ville }}</td>
				</tr>
				<tr>
					<th>Pays</th>
					<td>{{ post.pays }}</td>
				</tr>
				<tr>
					<th>CreatedAt</th>
					<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>UpdatedAt</th>
					<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>

			{% endif %}

		</tbody>
	</tbody>
</table>

<a class="navbar-brand" href={{ path('post_index') }}>


	<p class="pl-2 d-inline font-weight-bold;">
		<strong>Retour à la liste</strong>

	</p>
</a>
{% if app.user %}

	<a class="navbar-brand" href={{ path('post_edit', {'id': post.id} ) }}>


		<p class="pl-2 d-inline font-weight-bold;">
			<strong>Modifier</strong>


		</p>
	</a>
	<strong>{{ include('post/_delete_form.html.twig') }}</strong>
{% else %}
	<div style="display:flex;">
		<i class="fa-solid fa-lock"></i>

		<p>
			Vous devez vous connecter pour voir toutes les infos !
		</p>
	</div>

{% endif %}</div>{# FORMULAIRE COMMENTAIRE #}<div class="card border-secondary text-black w-50 bg-white" style="margin:10px auto">


{% if app.user %}
	<div class="card-header" style="margin:10px auto">

		{{ form_start(form) }}
		{{ form_row(form.content) }}

		<button type="submit" class="btn">
			Comment
			<i class="far fa-comment-dots"></i>
		</button>
		{{ form_end(form) }}
	</div>
</div>{% else %}
<div class="card-header">
	Vous devez être connecté pour poster des commentaires / liker des posts.
</div></div>{% endif %}{% if comments is empty %}<i class="fas fa-comment-slash"></i></div></div>{% else %}{% for comment in comments %}<div class="card-header w-50 " style="margin:10px auto"><a href='#' class="text-decoration-none">@{{comment.user.username}}</a><p>Hola</p><p class="card-text">{{ comment.content }}</p>{{ comment.createdAt | date('d/m/Y') }}</div>{% endfor %}</div>{% endif %}{# AFFICHAGE LIKES #}{% if app.user %}<div class="card-footer bg-white"><a href={{ path('app_post_like', {'id': post.id} )}} class="btn btn-light bg-white">{% if app.user in post.likes %}<i class="fas fa-heart" style="color:red;"></i>{% else %}<i class="far fa-heart"></i>{% endif %}</a></div>{% endif %}{% endblock %}
